

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#page-content{
	margin-left: 80px;
}
#side-nav,
.post-panel {
	height: 100%;
	position: fixed;
	top:0;
	z-index: 10;
	background: #ccc;
	width: 80px;
	xoverflow: hidden;
}
#side-nav > ul{
	list-style: none;
	padding: 0;
	bottom: 0;
	position: absolute;
	top: 0;
	z-index: 4;
}
#side-nav,
#side-nav > ul {
	background: #363f44;
	left: 0;
	width: 80px;
}
#side-nav > ul > li{
	display: block;
}
#side-nav > ul > li > a{
	color: rgba(255, 255, 255, 0.75);
	font-size: 32px;
	display: block;
	outline: none;
	padding: 5px 0;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	transition: all 200ms;
	-moz-transition: all 200ms;
	-webkit-transition: all 200ms;
}
#side-nav > ul > li > a:hover,
a.active{
	background:#f5f6f7;
	color: #363f44 !important;
}
#side-nav .nav-title{
	font-size: 11px;
	text-align: center;
	display: block;
}
.post-panel{
	width: 30%;
	background: #f5f6f7;
	left: 80px;
	padding-top: 15px;
	position: absolute;
	left: -450px;
	z-index: 8;
	transition: left 0.5s;
	-webkit-transition: left 0.5s; 
	-moz-transition: left 0.5s; 
	-o-transition: left 0.5s; 
	box-shadow: 5px 0 10px #888888;

}
.post-panel .post-form{
	border-top: 1px dashed #ccc;
	padding-bottom: 20px;
}
.post-panel .btn-group{
	width: 100%;
	margin-bottom: 15px;
}
.post-panel .btn-group .col-md-8{
	padding:0;
}
.post-panel .nav-stacked li a{
	line-height: 200%;
}
.post-panel .nav-pills>li>a{
	border-radius: 0;
}
.post-panel .accounts {
	clear: both;
	padding-top: 10px;
	border-top:1px dashed #ccc;
	height: auto;
	overflow-y: scroll;
}
.accounts-filter{
	clear: both;
}
.accounts-filter .nav-tabs{
	padding-left: 15px;
	border-bottom: none;
}
.accounts-filter .nav-tabs>li>a{
	border-radius: 0;
}
.panel-active{
	left: 80px;
}
.layout-changer{
	margin-top: 5px;
}
.create-post.active .glyphicon-send:before {
    content: "\e014";
}
.accounts > ul > li > a{
	text-align: left;
	padding-left: 30px;
}
.accounts > ul > li.active a{
	color: #fff;
}
.accounts .acc-groups ul,
.selected-accounts ul{
	list-style: none;
	overflow: hidden;
	padding:10px 1px 10px 8px;
}
.accounts .acc-groups ul li,
.selected-accounts ul li{
	float: left;
}
.accounts .acc-groups ul li a,
.selected-accounts ul li a{
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.acc-groups .glyphicon{
	display: block;
}
.acc-groups .thumbnail,
.selected-accounts .thumbnail{
	padding: 0;
	margin-right: 3px;
	margin-bottom: 10px;
	position: relative;
}
.accounts li i{
	font-size: 21px;
}
.accounts li.facebook a{
	color: #3b5998;
}
.accounts > ul > li.facebook.active a{ 
	background: #3b5998;
}
.accounts li.twitter a{
	color:#55acee;
}
.accounts > ul > li.twitter.active a{
	background: #55acee;
}
.accounts li.gplus a{
	color:#D34836;
}
.accounts > ul > li.gplus.active a{
	background: #D34836;
}
.accounts li.youtube a{
	color:#e52d27;
}
.accounts > ul > li.youtube.active a{
	background: #e52d27;
}
.acc-groups ul li  i,
.acc-groups ul li.active i.fa-times{
	display: none;
}
.acc-groups ul li.active i,
.selected-accounts ul li i{
	position: absolute;
	display: inline-block;
	bottom: 0;
	right: 0;
	color: green;
}
#alarabiya-panel{
	position: absolute;
	top: 0;
	height: 100%;
	width: 30%;
	left: -440px;
	background: #e0e2e4;
	z-index: 1;
	padding: 1%;
	-webkit-transition: left 0.5s; 
	-moz-transition: left 0.5s; 
	-o-transition: left 0.5s;
}
.articles-active{
	left:510px !important;
}
.ui-autocomplete{
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    background: #eee;
    width: 280px !important;
    z-index: 999;
}
.ui-autocomplete li{
	list-style-type: none;
}
.ui-helper-hidden-accessible{
	display: none;
}
